.App {
  background-color:black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-image: url(https://media.giphy.com/media/XuBNdP9Pb7W9i/source.gif);
}

.static-off {
  background-image: none;
  background-color: black;
}

button {
  background: white;
  color: black;
  font-family: 'Press Start 2P', cursive;
  border: none;
  font-size: 8px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button:hover {
  background-color: cyan;
}

.text-question {
  text-align: center;
}

.clickable-option {
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding-top: 20px;
}
.clickable-option:hover {
  color: #FF00F0;
  text-decoration: none;

}

.options {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.coffee {
  font-size: 100px;
  margin: auto;
  text-align: center;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */
  

  
  /* h3 {
    font-size: 100px; 
    color: white;
    position: absolute;
    z-index: 0;
  } */
